body {
  overflow-y: scroll;
}

.spaced-box-lg {
  margin: 48px;
}

.spaced-box-md {
  margin: 32px;
}

.spaced-box-sm {
  margin: 16px;
}

.timer-time {
  line-height:1em;
  font-size: 7em;
}

.timer-container {
  height: 1em;
  overflow: hidden;
  position: relative;
}

.timer-box {
  height: 1em;
  margin: auto;
  position: relative;
}

.timer-box > span {
  position: relative;
}

.footer {
  width: 100%;
}

.adsense-unit-responsive {
  /*background-color: #4D90FE;
  margin-top: 10px;
  margin-bottom: 10px;*/
  width: 100%;
  height: 100px;
  text-align: center;
}

.btn-social {
  min-width: 50px;
}

.btn-twitter {
  background: #00acee;
  color: #fff !important;
}
.btn-twitter:active, .btn-twitter:hover {
  background: #0087bd;
}

.btn-facebook {
  background: #3b5998;
  color: #fff !important;
}
.btn-facebook:active, .btn-facebook:hover {
  background: #30477a;
}

.btn-googleplus {
  background: #e93f2e;
  color: #fff !important;
}
.btn-googleplus:active, .btn-googleplus:hover {
  background: #ba3225;
}

.btn-linkedin {
  background: #0e76a8;
  color: #fff !important;
}
.btn-linkedin:active, .btn-linkedin:hover {
  background: #0b6087;
}
